main {
  display: flex;
  flex-direction: row;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1em;
  font-weight: normal;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 20em;
  min-width: 15em;
  margin-left: auto;
  padding: 5em 1em 0;

  color: #FFFFFF;

  background-color: #174180;
}

.left-column h2 {
  color: #56CCF2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  margin-bottom: 0;

  font-weight: normal;
  font-size: 2em;
}

.about {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 70%;
  align-self: center;
  margin-bottom: 1em;

  border-radius: 50%;
}

.about .position {
  font-size: 1.4em;
}

.contacts ul {
  padding-left: 0;
  list-style-type: none;
}

.contacts img {
  width: 1.2em;
}

.contacts li a {
  padding: 0.5em;

  line-height: 1.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: #56CCF2;
}

.contacts li a:hover {
  text-decoration: underline;
  color: #7ed6f6;
}

.about .description {
  line-height: 1.5em;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0;

  list-style: none;
}

.skills li {
  width: 50%;
  margin-left: 0;

  line-height: 1.5em;
}

.language dl {
  line-height: 1.5em;
}

.language dt {
  float: left;
  width: 50%;
  clear: left;
}

.language dd {
  font-style: italic;

  opacity: 0.5;
}

.references ul {
  padding-left: 0;

  list-style-type: none;
}

.references img {
  width: 3em;
  margin-bottom: 1em;

  vertical-align: middle;
}

.references li a {
  padding-left: 0.5em;

  font-size: 1.2em;
  color: #56CCF2;
}

.references li a:hover {
  text-decoration: underline;
  color: #7ed6f6;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-width: 25em;
  max-width: 45em;
  margin-right: auto;
  padding: 5em 2em;

  color: #828282;
}

.right-column h2 {
  font-size: 2em;
  font-weight: bold;
  color: #174180;
}

.case {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: baseline;
  margin-left: 0.5em;
  margin-bottom: 1em;

  font-size: 1.4em;
  line-height: 1.6em;
}

.edu-case {
  grid-template-areas:
            "title title"
            "organisation years"
            "achievements achievements";
}

.work-case {
  grid-template-areas:
            "title years"
            "organisation organisation"
            "achievements achievements";
}

.title {
  grid-area: title;
  margin: 0;

  font-weight: bold;
  color: #4F4F4F;
}

.organisation {
  grid-area: organisation;
  margin: 0;
}

.years {
  grid-area: years;
  margin: 0;

  text-align: right;
}


.achievements {
  grid-area: achievements;
  margin: 0;

  font-size: 0.8em;
}

.code-sample {
  font-size: 1.2em;
  line-height: 1.6em;
}

code {
  font-family: monospace;
  white-space: pre-wrap;
  color: #000000;
}

footer {
  margin: auto;
}

footer a {
  color: #FFFFFF;
}
a{
  color:
      #0000FF
}